body{
	background-color: #ffffcc;
	color: #333333;
	font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: Times New Roman, serif;
}

.company_name{
	font-weight: bold;
}

h1{
	display: block;
	background-color: #ccff99;
	color: #333333;
	text-align: center;
	text-shadow: 3px 2px #999999;
	border: 1px solid #333333;
	border-radius: 15px;
	padding: 20px 10px;
	width: 100%;
	position: relative;
	left: -10px;
}

nav{
	margin-left: 20px;
}

nav a{
	background-color: #ccff99;
	color: #333333;
	border: 1px solid #333333;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 8px;
}

.motto{
	display: block;
	font-style: italic;
	text-align: center;
	border: 8px ridge #99aa33;
	border-left-width: 20px;
}

#intro{
	text-indent: 10px;
}

#wrapper{
	width: 80%;
	margin: auto;
	background-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 10px;
	padding-top: 0px;
}

#services{
	line-height: 1.5;
}